<div class="form-inline input-group input-group-sm" style="float:right; margin-left:50px;">
  <table>
    <% if url%>
      <%= search_form_for @q do |f| %>
        <td><%= f.search_field zone, class: "form-control", style: "border:1px solid #C0C0C0" %></td>
        <td><span class="input-group-btn"><%= f.submit class: "btn btn-primary" %></span></td>
      <%end%>
    <%else%>
      <%= search_form_for @q, url: url do |f| %>
        <td><%= f.search_field zone, class: "form-control", style: "border:1px solid #C0C0C0" %></td>
        <td><span class="input-group-btn"><%= f.submit class: "btn btn-primary" %></span></td>
      <%end%>
    <% end %>
  </table>
</div>
