<% content_for :body_class do %>
<% end%>
<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>首页</li>
      <li>应用</li>
    </ol>
  </div>
  <!-- END RIBBON -->
<% end %>
<!-- MAIN CONTENT -->
<div id="content">
  <!-- widget grid -->
  <section id="widget-grid" class="">
    <p id="notice"><%= notice %></p>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>应用</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
              <div class="table-responsive">
                <div style = "float:left;">
                  <%= button_to '新增应用', new_app_path, method: "get", class: "btn btn-primary" %>
                </div>
                <div class="form-inline input-group input-group-sm" style="float:right; margin-left:50px;">
                  <table>
                    <%= search_form_for @q, url: apps_path  do |f| %>
                      <td><%= f.search_field :name_cont, class: "form-control", style: "border:1px solid #C0C0C0" %></td>
                      <td><span class="input-group-btn"><%= f.submit class: "btn btn-primary" %></span></td>
                    <% end %>
                  </table>
                </div>
                <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>项目名</th>
                      <th>应用</th>
                      <th>描述</th>
                      <th colspan="4">操作选项</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @apps.each do |app| %>
                      <tr>
                        <td><%= app.id %></td>
                        <td><%= app.name %></td>
                        <td><%= app.project.name %></td>
                        <td><%= app.description %></td>
                        <td><%= link_to '查看', app  , :class=>'label label-info' %></td>
                        <td><%= link_to '修改', edit_app_path(app), :class=>'label label-primary' %></td>
                        <td><%= link_to '用例执行统计', app_testcase_stastics_path(app), :class=>'label label-success' %></td>
                        <td><%= link_to '删除', app, method: :delete, data: { confirm: 'Are you sure?' } , :class=>'label label-danger'%></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <%= render partial: "layouts/paginator", locals: {zone: @apps} %>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end row -->
    </section>
    <!-- end widget grid -->
  </div>
  <!-- END MAIN CONTENT -->
