<% content_for :body_class do %>
<% end%>
<% content_for :ribbon do %>
  <!-- RIBBON -->
  <div id="ribbon">
    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <li>首页</li>
    </ol>
  </div>
  <!-- END RIBBON -->
<% end %>
<!-- MAIN CONTENT -->
<div id="content">
  <!-- widget grid -->
  <section id="widget-grid" class="">
    <p id="notice"><%= notice %></p>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>API测试用例</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
              <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
              <div class="table-responsive">
                <div class="row">
                  <%= link_to '新增测试用例', new_testcase_path, method: "get", class: "btn btn-primary" %>
                  <%= link_to 'run ' + params[:case_type] + ' 测试用例', get_run_testcase_path(:case_type=>params[:case_type]), method: "get", class: "btn btn-danger" %>
                  <%= link_to 'Excel下载', testcases_path( :case_type=>params[:case_type], :format=> "xlsx") , class: "btn btn-info" %>
                  <%= link_to '模板下载',  download_testcase_template_path(:format=>"xlsx") , class: "btn btn-success" %>
 <%= link_to '用例导入',  testcase_excelupload_path , class: "btn btn-warning" %>

                  <div class="form-inline input-group input-group-sm" style="float:right; margin-left:50px;">
                    <table>
                      <%= search_form_for @q, url: testcases_path  do |f| %>
                        <input class="form-control" style="display:none" type="search" value="<%=@case_type%>"  name="case_type" id="q_case_name_cont" />
                        <td><%= f.search_field :case_name_or_app_name_cont, class: "form-control", style: "border:1px solid #C0C0C0" %></td>
                        <td><span class="input-group-btn"><%= f.submit class: "btn btn-primary" %></span></td>
                      <% end %>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div style="margin:3px;overflow:scroll">
                    <table id="datatable_fixed_column" class="table table-striped table-bordered" width="100%">
                      <thead>
                        <tr>
                          <th>测试用例ID</th>
                          <th>用例名</th>
                          <th>是否完成自动化</th>
                          <th>类型</th>
                          <th>应用</th>
                          <th colspan="3">操作选项</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @testcases.each do |testcase| %>
                          <tr>
                            <td><%=raw testcase.case_id %></td>
                            <td><%=raw testcase.case_name %></td>
                            <td><%=raw testcase.is_done %></td>
                            <td><%=raw testcase.case_type %></td>
                            <td><%=raw testcase.app.name if testcase.app %></td>
                            <td><%= link_to 'Show', testcase %></td>
                            <td><%= link_to 'Edit', edit_testcase_path(testcase) %></td>
                            <td><%= link_to 'Destroy', testcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <%= render partial: "layouts/paginator", locals: {zone: @testcases} %>
                </div>
              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </div>
      <!-- end row -->
    </section>
    <!-- end widget grid -->
  </div>
  <!-- END MAIN CONTENT -->
